<!DOCTYPE html>
<!--
	************* Iryna Tinaz ************
	ITDEV-161, Spring 2016
	Assignment Final Project
	Date May 9
-->
<html ng-app="myApp">
    <head>
        <title>Contact Us</title>
        <link rel="icon" type="image/png" href="images/logo.png" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="js/form.js"></script>
    </head>
<body class="list-group" ng-controller="formCtrl">
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand pull-left"><img src="images/logo.png" style="width:30px; hight:30px;"></a>
      <a class="navbar-brand" href="home.html">SmartGym.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home.html">Home</a></li>
      <li><a href="FinalProjectWebsite/workout.html">Workout</a></li> 
      <li><a href="about.html">About</a></li>
      <li class="active"><a href="contactus.html">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        
        </li>
    </ul>
       </div>
</nav>
        
    <div class="container">
       <div class="row">
           <div class="col-md-3 col-sm-3"></div>

        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="panel-title">Please enter your information</h4>
            <div class="panel-body">
            <form role="form" name="myForm" novalidate>
                
    <div class="form-group">
        Name:
        <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <input type="text" class="form-control" ng-model="user.name" name="userName" placeholder="Name" required/></div>
              <div class="error" ng-show="myForm.$submitted || myForm.userName.$touched">
              <div class="error" ng-show="myForm.userName.$error.required">Please enter your name.</div></div></div>
            
    <div class="form-group">      
        Email: 
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control ng-prestine ng-touched ng-invalid-" ng-model="user.email" name="userEmail" placeholder="Email" required /></div>
              <span class="error" ng-show="myForm.userEmail.$error.required && myForm.userEmail.$touched">Please enter your email</span>
              <span class="error" ng-show="myForm.userEmail.$error.email">Email is not valid</span></div>
                
                 <div class="form-group">
        Phone: 
       <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input type="tel" name="phone" id="phone" class="form-control" ng-model="user.phone" ng-minlength="10" ng-maxlength="20" placeholder="(XXX)XXX XXXX" required  />
        </div>
              <span class="error" ng-show="myForm.phone.$error.required && myForm.phone.$touched">Please enter your phone number</span>
              <span  class="error" ng-show="!myForm.phone.$error.required && (myForm.phone.$error.minlength || myForm.phone.$error.maxlength) && myForm.phone.$dirty">Phone must be between 10 and 20 characters.</span>
              </div>
                
                <div class="form-group">
        Message:
               <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
               <textarea style="resize:vertical;" class="form-control" name="comment" placeholder="Please enter your text here..."></textarea>
                                                </div>
                                            </div>
  
                <br/><br/>
                <button type="button" class="btn btn-primary" ng-click="reset()" ng-disabled="isUnchanged(user)">Clear </button>
                <br/><br/>
    <button type="button" class="btn btn-warning pull-right" ng-click="update(user)" ng-disabled="myForm.$invalid || isUnchanged(user)">Send <span class="glyphicon glyphicon-send"></span></button>
  </form>
    </div></div>
      </div></div>
        </div></div>
</body>
</html>
